@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);

:root {
  --color-red: #fa7373;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #42a7a1;
  width: 400px;
  height: 400px;
  box-shadow: 1px 2px 10px 0px, rgba(0, 0, 0, 0.3);
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 220px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
}

.relative-center {
  position: relative;
}

.header {
  position: relative;
  height: 60px;
  width: 100%;
  background: #f1ba64;
  color: #fff;
}

.header > .title {
  position: absolute;
  top: 12px;
  left: 15px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.header > .date {
  position: absolute;
  top: 30px;
  left: 15px;
  font-weight: 400;
  font-size: 11px;
}

.header > .type {
  position: absolute;
  top: 14px;
  right: 15px;
  font-weight: 400;
  font-size: 11px;
}

.header > .money {
  position: absolute;
  top: 28px;
  right: 15px;
  font-weight: 600;
  font-size: 14px;
}

.props {
  text-align: right;
  padding: 10px 0 14px 0;
}

.props > span {
  position: relative;
  font-size: 9px;
  color: #606060;
  line-height: 13px;
  padding: 0 10px 0 25px;
}

.props > span::before {
  position: absolute;
  left: 6px;
  top: 6px;
  display: block;
  content: "";
  width: 11px;
  height: 3px;
  border-radius: 3px;
}

.props > .views::before {
  background: var(--color-red);
}

.props > .purchases::before {
  background: #7ba2ff;
}

.canvas-this {
  position: relative;
  height: 81px;
  width: 260px;
  margin: 0 auto;
  /* background: red; */
}

.canvas-this > .line {
  background: #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #f2f2f2;
}

.canvas-this > .num2 {
  top: 40px;
}

.canvas-this > .num3 {
  top: 80px;
}

.data > svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
}

.point {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  cursor: pointer;
  z-index: 10;
  left: 7px;
  top: 43px;
}

.tips {
  position: absolute;
  bottom: 13px;
  left: 50%;
  transform: translate3d(-50%, 10px, 0);
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
  color: #fff;
  padding: 8px 6px;
  border-radius: 3px;
  opacity: 0;
  transition: transform 0.4s ease-out 0s, opacity 0.4s ease-out 0s;
  background: var(--color-red);
}

.tips::after {
  position: absolute;
  display: block;
  content: "";
  height: 6px;
  width: 6px;
  left: 50%;
  margin-left: -3px;
  bottom: -3px;
  transform: rotate(45deg);
  background: var(--color-red);
}

.upper > svg > polyline {
  stroke: var(--color-red);
}

.upper .point {
  background: var(--color-red);
}

.point:hover .tips {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

.upper .tips {
  background: var(--color-red);
}

.upper .tips::after {
  background: var(--color-red);
}

.upper .num1 {
  left: 7px;
  top: 43px;
}

.upper .num2 {
  left: 48px;
  top: 9px;
}

.upper .num3 {
  left: 88px;
  top: 20px;
}

.upper .num4 {
  left: 128px;
  top: 8px;
}

.upper .num5 {
  left: 169px;
  top: 35px;
}

.upper .num6 {
  left: 209px;
  top: 45px;
}

.upper .num7 {
  left: 249px;
  top: 16px;
}
