.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #3faf82;
  color: #ccc;
  width: 400px;
  height: 400px;
  box-shadow: 1px 2px 10px 0px, rgba(0, 0, 0, 0.3);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: red; */
}

:root {
  --line-height: 8px;
  --line-space: 14px;
  --menu-height: 3 * var(--line-height) + 2 * var(--line-space);
}

.menu {
  width: 80px;
  z-index: 10;
  height: var(--menu-height);
  /* background-color: red; */
  cursor: pointer;
}

.line-white {
  width: 100%;
  height: var(--line-height);
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.line-white + .number2 {
  margin: var(--line-space) 0;
}
